/* Apply styles only for this modal */
.addProductModal .ant-modal-content {
    border-radius: 16px;
}

/* Make inputs consistent */
.addProductModal .ant-input,
.addProductModal .ant-input-number,
.addProductModal .ant-select-selector {
    height: 44px;
    border-radius: 10px;
}

/* Textarea */
.addProductModal textarea.ant-input {
    min-height: 110px;
}