body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

.ant-layout-header {
  background: #001529 !important;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.ant-layout-header h1 {
  color: white;
  margin: 0;
}

.ant-layout-content {
  padding: 20px;
  min-height: 80vh;
  background: #f5f5f5;
}

.ant-layout-footer {
  text-align: center;
  background: #001529 !important;
  color: white;
}