body {
  margin: 0;
  padding: 0;
}

.ant-layout-header {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.ant-layout-content {
  padding: 20px;
  min-height: 80vh;
}

.ant-layout-footer {
  text-align: center;

}